<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
               <b>[ R M S ] </b>
            </a>
        </div>
    </nav>
</header>







<div class="container">
<div class="row  ">
<!-- For Demo Purpose -->
<div class="col-sm-5">
<img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img">
<h1>Create an Account</h1>
<p class="font-italic text-muted mb-0"> 
Create an account to get started.
</p>
</div>

<!-- Registeration Form -->
<div class="col-sm-6">
<form action="#">
<div class="row padder">

<!-- First Name -->
<form class="example-form">
    <div class="col-sm-6"> 
     <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>First name</mat-label>
    <input type="text" matInput placeholder="Ex. John"  required>
  </mat-form-field>
</div>
    <div class="col-sm-6"> 
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Second name</mat-label>
    <input type="text" matInput placeholder="Ex. Dev"  >
  </mat-form-field>
</div>
 
  
   

  <div class="col-sm-6"> 
   <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email ID</mat-label>
    <input type="email" matInput placeholder="Ex. john@gmail.com" value="">
  </mat-form-field>
  </div>
 
    <div class="col-sm-6"> 
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Telephone</mat-label> 
    <input type="tel" matInput placeholder="555-555-1234">
   </mat-form-field>
</div>

    <div class="col-sm-6"> 
   <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Enter a strong password" value="">
  </mat-form-field>
</div>

    <div class="col-sm-6"> 
   <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput placeholder="Enter Your Password again" value="">
  </mat-form-field>
</div>
<div class="col-sm-12"> 
 <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <textarea matInput placeholder="Ex. Ireland , John street ..."></textarea>
  </mat-form-field>

</div>
</form>

 
 
<br>
<!-- Submit Button -->
<div class="form-group col-lg-6 mx-auto mb-0">
<a routerLink="/Profile" class="btn btn-primary btn-block py-2">
<span class="font-weight-bold">Create your account</span>
</a>

</div>
<div class="form-group col-lg-6 mx-auto mb-0">
<a href="" class="btn btn-primary btn-block py-2" data-toggle="modal" data-target="#myModal">
<span class="font-weight-bold">Login back</span>
</a>
</div>

<!-- Divider Text -->
<div class="centerd">
 
<span class="">OR</span>
 
</div>

<!-- Social Login -->
<div class="form-group col-lg-6 mx-auto">
<a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
<i class="fa fa-facebook-f mr-2"></i>
<span class="font-weight-bold"> Continue with Facebook</span>
</a>
</div>

<div class="form-group col-lg-6 mx-auto">
<a href="#" class="btn btn-primary btn-block py-2 btn-twitter" (click)="signInWithGoogle()">
<i class="fa fa-google-plus mr-2"></i>
<span class="font-weight-bold"> Continue with Google</span>
</a>
</div>


</div>
</form>
</div>
</div>
</div>





















 
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
       
      <div class="modal-body">
                 <h2 class="modal-title">Login </h2>

            <p>Username </p>
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Enter your username"  required>
            </mat-form-field>

            <p>Password </p>    
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="text" matInput placeholder="Enter your password"  required>
            </mat-form-field>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close
        	<span class="fa fa-close"></span></button>
        <button type="button" class="btn btn-primary" >Proceed <span class="fa fa-forward"></span></button>
      </div>
    </div>

  </div>
</div>